/* ----  Make most desired things base transparent  ---- */
/* ----  Make most desired things base transparent  ---- */
popover,
popover > box,
.main-window,
.base-container,
.body-container,
.center-container,
.header-container,
.footer-containerm,
.left-containerm,
.right-container {
    background: rgba(0, 0, 0, 0.0);
    color: rgba(255, 255, 255, 1);
}

.base-container {
    background: rgba(0, 0, 0, 0.64);
    margin: 10px;
}

.clock-widget * {
    font-size: 20px;
}
